.underdev {
  width: 100vw;
  /* background: black; */

  /* opacity: 0.5; */
  /* padding: 15%; */
}
section {
  /* background-color: black; */
  /* display: grid; */
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: white;
}
section h1 {
  text-align: center;
  width: 100vw;
  align-self: center;
  font-weight: 100;
  font-size: 30px;
  /* z-index: 5; */
}
section img {
  width: 100%;
  z-index: 1;
}
