body{
	margin:0;
	overflow-x:hidden;
	font-family:'Noto Sans',sans-serif;
	height:100vh;
	background: #424040;
	color: rgb(194, 193, 193);
}
::-webkit-scrollbar{
	width:3px;
}
::-webkit-scrollbar-thumb{
background:white;
border-radius:5px;
}

*{
	outline:0;
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	font-weight:100;
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none;
		overflow: hidden;
}

}
nav{
	position: fixed;;
top:60px;
	z-index:5;
overflow: hidden;
	height:60px;
	width: 100%;

}
.nav-con{
opacity: 0;
	background: #000;
}

button.naam{
	position:absolute;
	font-size:25px
}
.navy{
	background:0 0;
	border:0;
	color:#fff;
	font-family:'Noto Sans',sans-serif;
	font-size:15px;
	left:20px;
	height:90%;
	transition:.5s;
	margin-left:10px
}
.ss{
	position:absolute;
	right:0;
	margin-right:20px;
	top:0;
	height:100%;
	z-index:2
}
button.navy:hover{
	transition:.5s;
	color:#000
}
.sidebar{
	width:100vw;
	height:100vh;
	position:static;
	top:0;
	z-index:3;
	display:none;
	grid-template-columns:4fr 6fr
}
.sidebar .one{
	background:#000;
	height:100vh;
	z-index:4;
	top:-5px;
	opacity:.9
}
.sidebar .two{
	background:#303030;
	height:100vh;
	top:-5px;
	width:320px
}
.two div{
	display:grid;
	height:30%;
	position:relative;
	top:35%
}
section.div1{
	width:100vw;
	height:100vh;
		top:0;
	
		
}
section.div2{
	scroll-snap-align:start;
}
div.content{
	position: absolute;
		scroll-snap-type:y mandatory;
		overflow-y: scroll;	
	top:0px;
}
section .back img{
	width:100%;
	height:100vh;
	object-fit:cover;
	opacity:.3
}
section .back{
	background:#000;
	z-index:1
}
section .name{
	z-index:3;
	color:rgb(194, 193, 193);
	position:relative;
	bottom:350px;
	margin-left:100px;
	font-family:'Noto Sans',sans-serif;
	padding:10px;
	margin-top:51px
}

.icons a.fab{
	display:inline;
	font-size:20px;
	color:white;
	text-decoration: none;
}
.fab:hover{
color:#000;
}
.icons{
	font-weight:100
}
img.me{
	width:25vw;
	border-radius:50%;
	margin-left:50px;
	margin-top:50px;
	position:absolute;
	top:20px
}
.naam{
	position:absolute;
	font-size:25px
}
*{
	outline:0;
	transition:.5s
}

section.div1{
	width:100vw;
	height:100vh;

}
section.div2{

	margin-top:50px;
	width:100vw;
	display: grid;
	grid-template-rows:1fr 9fr;
	overflow: hidden;
	height:95vh;
    
}
.div2 h1{
	font-size:7vmin;
	text-align: center;

	
}
.project-list{
	display:grid;
    overflow:scroll;
grid-gap: 10px;
	margin-left:2.5%;
	margin-right:2.5%;


}
.project{
background: #fff;

width:320px;
height:180px;
align-items: center;
}
section .back img{
	width:100%;
	height:100vh;
	object-fit:cover;
	opacity:.3;
}
section .back{
	background:#000;
	z-index:1
}

section .name h1{
	font-size:40px;
}
section .name h3{
	font-size:20px;
	font-weight:100
}

img.me{
	width:25vw;
	border-radius:50%;
	margin-left:50px;
	margin-top:50px;
	position:absolute;
	top:20px
}
@media screen and (max-width:1310px){
	img.me{
		top:300px
}
	section .name{
		margin-left:30%
}
}

.navy{
	background:0 0;
	border:0;
	color:#fff;
	font-family:'Noto Sans',sans-serif;
	font-size:15px;
	left:20px;
	height:90%;
	transition:.5s;
	margin-left:10px
}
.naam{
	position:absolute;
	font-size:25px
}
.ss .fas{
	display:none;
	display:none;
	background:0 0;
	border:0;
	color:#fff;
	font-size:20px;
	position:relative;
	top:10px
}
.fas.fa-bars:hover{
	color:#000
}
.ss{
	position:absolute;
	right:0;
	margin-right:20px;
	top:0;
	height:100%;
	z-index:2
}
button.navy:hover{
	transition:.5s;
	color:#b12727
}
.sidebar{
	width:100vw;
	height:100vh;
	position:static;
	top:0;
	z-index:3;
	display:none;
	grid-template-columns:4fr 6fr
}
.sidebar .one{
	background:#000;
	height:100vh;
	z-index:4;
	top:-5px;
	opacity:.9
}
.sidebar .two{
	background:#303030;
	height:100vh;
	width:320px
}
.two div{
	display:grid;
	height:30%;
	position:relative;
	top:35%
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none
}

}
@media screen and (max-width:1000px){
	img.me{
		margin:auto;
		text-align:center;
		top:-150px;
		padding:30%;
		width:40%;
		left:0
}
	section .name{
		margin-left:0;
		top:-300px;
		text-align:center;
		width:95%
}
}
@media screen and (max-width:780px){
	img.me{
		top:-100px;
		width:50%;
		padding:25%
}
}
@media (max-width:500px){
	.sidebar .two{
		width:100vw
}
	img.me{
		top:0
}
}
@media screen and (min-width:500px){
	.sidebar .two{
		width:auto
}
}
.ss{
	position:absolute;
	right:0;
	margin-right:20px;
	top:0;
	height:100%;
	z-index:2
}
button.navy:hover{
	transition:.5s;
	color:#000
}
.sidebar{
	width:100vw;
	height:100vh;
	position:static;
	top:0;
	z-index:3;
	display:none;
	grid-template-columns:4fr 6fr
}
.sidebar .one{
	background:#000;
	height:100vh;
	z-index:4;
	top:-5px;
	opacity:.9
}
.sidebar .two{
	background:#303030;
	height:100vh;
	top:-5px;
	width:320px
}
.two div{
	display:grid;
	height:30%;
	position:relative;
	top:35%
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none
}
	.ss .fas{
		display:block
}

}
@media screen and (max-width:1000px){
	img.me{
		margin:auto;
		text-align:center;
		top:-150px;
		padding:30%;
		width:40%;
		left:0
}
	section .name{
		margin-left:0;
		top:-300px;
		text-align:center;
		width:95%
}
}
@media screen and (max-width:780px){
	img.me{
		top:-100px;
		width:50%;
		padding:25%
}
}
@media screen and (max-width:500px){
	.sidebar .two{
		width:100vw
}
	img.me{
		top:0
}
}
@media screen and (min-width:500px){
	.sidebar .two{
		width:auto
}
}
