body{
	margin:0;
	overflow-x:hidden;
	font-family:'noto-sans',sans-serif;
	width:100vw;
	background: #424040;
	color: rgb(194, 193, 193);

}
::-webkit-scrollbar{
	width:3px;
}
::-webkit-scrollbar-thumb{
background:white;
border-radius:5px;
}

*{
	outline:0;
	
	font-weight:100;
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none;
		overflow: hidden;
}

}
nav{
	position: fixed;;

	z-index:5;
overflow: hidden;
	height:60px;
	width: 100%;

}
.nav-con{
opacity: 0;
	background: #000;
}

.naam{
	position:absolute;
	font-size:25px;
	text-decoration: none;
	padding: 10px;
}
.sidebar .navy{
padding: 5px;

margin-bottom:20px;
font-size: 21px;
height:30px;
justify-self: center;
text-align: center;
}
.navy{
	background:0 0;
	border:0;
	color:#fff;
	font-family:'noto-sans',sans-serif;
	font-size:15px;
	left:20px;
	height:90%;
	transition:.5s;
	margin-left:10px;
	text-decoration: none;

}
nav .ss .navy{
justify-self: center;
align-self: center;
padding-top: 30px;
width:90px;
text-align: center;

}
.fas:hover{
	cursor: pointer;
}
.ss{
	position:absolute;
	right:0;
	margin-right:20px;
	display: grid;
	top:0;
	height:100%;
	z-index:2;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.navy:hover{
	transition:.5s;
	background:#303030;
	color: white;
	cursor: pointer;
}
.two .navy:hover{
	background: white;
	color:black;
}
.sidebar{
	width:100vw;
	height:100vh;
	position:static;
	top:0;
	z-index:3;
	display:none;

}

.sidebar .two{
	background:#303030;
	height:100vh;
	top:-5px;
	width:320px
}
.two div{
	display:grid;
	height:30%;
	position:relative;
	top:35%
}
section.div1{
	width:100vw;
	height:100vh;
		top:0;
	
		
}
section.div2{
	scroll-snap-align:middle;
}
div.content{
	position: absolute;
		scroll-snap-type:y mandatory;
		width:100vw;
		overflow-y: scroll;	
		overflow-x: hidden;
	top:0px;
}
section .back img{
	width:100%;
	height:100vh;
	object-fit:cover;
	opacity:.3
}
section .back{
	background:#000;
	z-index:1
}
section .name{
	z-index:1;

	position:relative;
	bottom:350px;
	margin-left:100px;
	font-family:'noto-sans',sans-serif;
	padding:10px;
	margin-top:51px
}

.icons a.fab{
	display:inline;
	font-size:20px;
	color:white;
	text-decoration: none;
}
 .contactme .icons a.fab{
	font-size:30px;
	margin-left: 10px;
}
.fab:hover{
color:#000;
}
.icons{
	font-weight:100;
	
}
.name .icons{
	animation:up 1s;
	opacity:0;
	position: relative;
	animation-fill-mode: forwards;
	
	animation-delay: 13.25s;
}
.fab.fa-twitter:hover{
	color:#1DA1F2;
}
.fab.fa-youtube:hover{
	color:red;
}
.fab.fa-github:hover{
	color:purple;
}
.fab.fa-instagram:hover{
	color:rgb(117, 10, 117);
}
img.me{
	width:25vw;
	border-radius:50%;
	margin-left:50px;
	margin-top:50px;
	position:absolute;
	top:20px;
	animation: flip 2s;
	animation-fill-mode: forwards;
}
img.me:hover{
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.naam{
	position:absolute;
	font-size:25px
}
*{
	outline:0
}

section.div1{
	width:100vw;
	height:100vh;

}

#contact{
	background: #652bce;
	color:white;
}
#contact h3 a{
color: #fff;
}



section .back img{
	width:100%;
	height:100vh;
	object-fit:cover;
	opacity:.3;
}
section .back{
	background:#000;
	z-index:1
}


section .name h1{
	font-size:40px;
	animation:fade 2s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
section .name h3{
	font-size:20px;
	font-weight:100;

    position: relative;
   margin-left:auto;
	margin-right: auto;
	
	text-align: center;
	font-family:monospace;
}



img.me{
	width:25vw;
	border-radius:50%;
	margin-left:50px;
	margin-top:50px;
	position:absolute;
	top:20px
}
section.div2{


	width:100vw;
	display: grid;
	grid-template-rows:1fr 9fr;
	overflow: hidden;
	height:91vh;
	color:black;
	background: rgb(26, 209, 133);
	text-align: center;
	
}
@media screen and (max-width:1310px){
	img.me{
		top:300px
}
	section .name{
		margin-left:30%
}
}

.navy{
	background:0 0;
	border:0;
	color:#fff;
	font-family:'noto-sans',sans-serif;
	font-size:15px;
	left:20px;
	height:90%;
	transition:.5s;
	margin-left:10px
}
.naam{
	position:absolute;
	font-size:25px
}
.ss .fas{
	background:0 0;
	border:0;
	color:#fff;
	font-size:20px;
	position:relative;
	top:15px;
	display: none;
}

.ss{
	position:absolute;
	right:0;
	margin-right:20px;
	top:0;
	height:100%;
	z-index:2
}

.sidebar{
	width:100vw;
	height:100vh;
	position:static;
	top:0;
	z-index:3;
	display:none;
	grid-template-columns:4fr 6fr
}
.sidebar .two{
	background:#000;

	
	opacity:.93;
}
.sidebar .two{
	background:black;
	height:100vh;
	width:320px
}
.two div{
	display:grid;
	height:30%;
	position:relative;
	top:35%;
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none;
}
.ss{
	display: inline;
}
}
@media screen and (max-width:1000px){
	img.me{
		margin:auto;
		text-align:center;
		top:-150px;
		padding:30%;
		width:40%;
		left:0
}
	section .name{
		margin-left:0;
		top:-300px;
		text-align:center;
		width:95%
}

}
@media screen and (min-width:1000px){
	section .name h3{
		margin-left:unset;
		margin-right: unset;
		text-align: start;
	}
}
@media screen and (max-width:780px){
	img.me{
		top:-100px;
		width:50%;
		padding:25%
}
}
@media (max-width:500px){
	.sidebar .two{
		width:100vw;
}
	img.me{
		top:0
}
}

.ss{
	position:absolute;
	right:0;
	margin-right:20px;
	top:0;
	height:100%;
	z-index:2
}

.sidebar{
	width:100vw;
	height:100vh;
	position:fixed;
	top:0px;
	z-index:3;
	display:none;
	grid-template-columns:4fr 6fr
}

.sidebar .two{
	background:black;
	height:100vh;
	display: inline;
	text-align: center;
	top:-5px;
	width:100vw;
}
.two div{
	display:grid;
	height:30%;
	position:relative;
	top:35%
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none
}
	.ss .fas{
		display:block
}

}
@media screen and (max-width:1000px){
	img.me{
		margin:auto;
		text-align:center;
		top:-275px;
		padding:30%;
		width:40%;
		left:0
}
	section .name{
		margin-left:0;
		top:-350px;
		text-align:center;
		width:95%;
		
}
}

@media screen and (max-width:780px){
	img.me{
		top:-100px;
		width:50%;
		padding:25%
}
}
@media screen and (max-width:500px){
	.sidebar .two{
		width:100vw
}
	img.me{
		top:0;
	width:60%;
	padding: 20%;

}
}
@keyframes fade{
	from{
	opacity: 0;
	}
	to{
	  opacity:1;
	
	}
	
	}
	  @keyframes up{
		  from{
			  opacity:0;
			  top:20px
		  }
		  to{
			  opacity: 1;
			  top:0px;
		  }
	  }
	  @keyframes flip{
		  from{
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			border-radius:0%;
		  }
		  to{
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			border-radius:50%;
		  }
	  }
