nav{
    position: sticky;
    top:0px;
    z-index:5;

    padding-bottom:20px;
    height:36px;

}
button.naam{
    position: absolute;
    
       font-size:25px;
    }
	.ss .fa{
		margin: 0px;
		overflow: hidden;
		font-family: 'Noto Sans', sans-serif;
		height:100vh;
	}


.navy{
   background: none;
   border:0px;
   color:white; 
   font-family: 'Noto Sans', sans-serif;
   font-size:15px;
   left:20px;
   height:90%;

   transition:0.5s;
   margin-left:10px;

}
.ss .fa{
	display:none;
}
.fa.fa-bars:hover{
	color:black;
}
.fa-times:hover{
	background:#303030;
}
.ss{
	position: absolute;
	right:0px;
	margin-right: 20px;
	top:0px;
	height:100%;
	z-index:2;
}
button.navy:hover{
	transition: 0.5s;
	color:rgb(177, 39, 39);
}
.sidebar{
	width:100vw;
	height:100vh;
	position: static;
	top:0px;
	z-index: 3;
	display:none;
	grid-template-columns: 4fr 6fr;
}
.sidebar .one{
	background:black;
	height:100vh;
	z-index: 4;
	top:-5px;
	opacity:0.9;
}
.sidebar .two{
	background: #303030;
	height: 100vh;
	top:-5px;
	width:320px;
}
.two div{
	display:grid;
	height:30%;
	position: relative;
	top:35%
}
@media screen and (max-width:800px){
	.ss .navy{
		display:none;
	}
	.ss .fa{
		display:block;
		background: none;
		border:0px;
		color:white;
		position: relative;
		top:10px;
	}
	nav{
		padding-bottom: 10px;
		position: relative;
		top:0px;
	}
}
.ss .fas{
	display: block;
	background: none;
	border: 0px;
	color: white;
	font-size:20px;
	position: relative;
	top:10px;
}