body{


    margin: 0px;
  overflow-x: hidden;
   scroll-snap-type: y mandatory;
   overflow-y: scroll; 
    font-family: 'Noto Sans', sans-serif;
}
section.div1{
    width:100vw;
height:100vh;
scroll-snap-align: start;
position:relative;

}
section.div2{
    scroll-snap-align: start;
    width:100vw;
    height:100vh;
    top:-31px;
    position:relative;
    background:black;
}
section.div3{
    scroll-snap-align: start;
    width:100vw;
    height:100vh; 
    background:blue; 
    top:-31px;
    position:relative;
}
section .back img{
    width:100%;
    height:100vh;
    object-fit:cover;
    opacity: 0.3;

}
section .back{
    background: black;
       z-index: 1;
}
section .name{
z-index: 3;
color:white;
position: relative;
    bottom:350px;
    margin-left:100px;
    font-family: 'Noto Sans', sans-serif;
    padding:10px;
}
section .name h1{
        font-size:40px;
}
section .name h3{
    font-size:20px;
    font-weight:100;
}
.icons a.fa{
    display: inline;
    font-size: 20px;
}

img.me{
width:25vw;
border-radius:50%;
margin-left:50px;
position: absolute;

top:20px;
}
@media screen and (max-width:1310px){
img.me{
    top:300px;
}
section .name{
    margin-left:30%;
}
}
nav{
    position: sticky;
    top:0px;
    z-index:5;
    padding-bottom:20px;
    background: black;
}


.navy{
   background: none;
   border:0px;
   color:white; 
   font-family: 'Noto Sans', sans-serif;
   font-size:15px;
   left:20px;
   transition:0.5s;

}
.naam{
    position: relative;
    top:5px;
    font-size:25px;
    }
.ss .fa{
    display:none;
}
.ss{
    position: absolute;
    right:0px;
    margin-right: 20px;
  top:20px;
  z-index:2;
      
}
button.navy:hover{

color: black;
}
.sidebar{
    width:100vw;
    height:100vh;
  
  
    position: sticky;
    top:0px;
    z-index: 3;
    display:none;
    grid-template-columns: 4fr 6fr;

}
.sidebar .one{

    background:black;
    height:100%;
    z-index: 4;
    transition:0.5s opacity;
    position: relative;
    top:0px;
    opacity:0.9;
}
.sidebar .two{
    background: #303030;
    height: 100%;
    top:0px;
    width:320px;

}

.two div{
    display:grid;
    height:30%;
    position: relative;
    top:35%
}

@media screen and (max-width:800px){
  .ss .navy{
        display:none;
        
    }
    .ss .fa{
        display:block;
        background: none;
        border:0px;
        color:white; 
         }
}
.ss .fas{
display: block;
background: none;
border: 0px;
color: white;
font-size:20px;
}
@media screen and (max-width:1000px){
img.me{
    margin: auto;
  text-align:center;
  top:-200px;
  padding:25%;
  width:50%;
  left:0px;
    
}
section .name{
 margin-left:0px;
    top:-250px;
    text-align: center;
    width:95%;
}
}
@media screen and (max-width:780px){
    img.me{
        top:-100px;
    }
}
@media screen and (max-width:500px){
   .sidebar .two{
        width:100vw;
    }
}