
body{

	margin:  0px;
	overflow:hidden;
}
*{
	 box-sizing: border-box;
	 font-family:'Roboto',sans-serif;
	box-sizing:border-box;
     /* overflow:hidden; */
     /* display:  grid; */
}
#bday{
	width:70vmin;
	height: 8vmin;
	
}
#enter{
	background: rgb(12, 58, 110);
	color: white;
	border:none;
height:8vmin;
padding:10px 20px;
position: relative;
top:2px;
left:0.6px;
text-transform: capitalize;
border-radius: 4px;
z-index: 2;
font-size:20px;
}
#enter:hover{
	background: #2c097c;
	cursor: pointer;
}
#got div{
	display: inline;
	margin:auto;
}
#got  h1{
	color:white;
	font-weight: 200;
	text-align:center; 
}
div#got{
	margin-left: auto;
width:100vw;
height: 100vh;
display: grid;
justify-content: center;

align-content:center;
background-image: url('ss.jpg');
background-size:100px;
margin-right:auto;}
