@keyframes load {
  0% {
    background: red;
  }
  100% {
    background: black;
  }
}
*:focus {
  outline: 0px;
}
body {
  overflow-x: hidden;
}
* {
  margin: 0px;
  font-family: "roboto", sans-serif;
  z-index: 1;
  /* background: #8BC34A; */

  /* overflow-y: visible; */
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
}
#loader {
  animation-name: load;
  animation-duration: 5s;
  display: grid;
}
#animate {
  /* background: #e4e4e4; */
  margin: auto;
  width: 100px;
  height: 100px;
  align-self: center;
  border-radius: 50%;
  /* border: orange solid 100px; */
  border-left: none;
  border-right: none;
}
#content {
  display: none;
}
nav {
  background: white;
  border: solid;
  border-width: 0px 0px 1px 0px;
  height: 48px;
  width: 100%; /* margin:auto; */
  position: fixed;
  z-index: 2;
  top: 0px; /* right:0px; */
}

.heading div {
  display: inline;
}
nav .heading {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 23px;
  left: 50px;
  top: 8px;
  padding-right: 0px;
  width: 100px;
  /* padding:10px; */
  padding-left: 0px;
  text-align: center;
  color: #5d5d5d;
  height: 25px;
  background: #ffffff;
  transition: 0.5s;
  /* font-size:  1em; */
  margin-top: 0px;
  box-sizing: content-box;
  line-height: normal;
}
.loghead {
  width: 75px;
  height: unset;
  position: relative;
  /* bottom: 10px; */
  right: 5px;
  padding: 3px;
  padding-left: 0px;
}
nav .heading:hover {
  /* width:225px; */
}
nav img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  position: relative;
  top: 3px;
}
.buttons {
  vertical-align: middle;
  right: 40px;
  text-transform: capitalize;
  bottom: 13px;
  margin-left: 50px;
}
button {
  font-size: large;
}

#sidebar {
  top: 5px;
  left: 10px;
  transition: 0.5s;
}

nav #topnav input {
  margin-left: 70px;
}
.navy {
  position: absolute;

  right: 0px;

  top: 20px;
}
.drap {
  position: absolute;

  right: 0px;
}
nav button {
  background: inherit;
  border: none; /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 3px;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  background: inherit;
  color: #000000;
  border-bottom: white solid 5px;
}
nav button:hover {
  border-bottom: #97c2e4 solid 5px;
  /* border-radius: 5px; */
  /* animation-name:butt; */
  /* animation-duration:.5s; */
}
.buttons:hover .drop-c {
  display: inline-block;
}
nav input {
  border-radius: 0px 3px 3px 0px;
  height: 25px;
  width: 250px;
  position: relative;
  left: 420px;
  bottom: 0px;
  font-size: 17px;
  font-family: sans-serif;
  border: solid;
  border-width: 0px 0px 3px;
  background: inherit;
  border-bottom-color: #ffffff;
  transition: width 2s, height 4s;
}
.topdrop {
  display: inline-block;
  /* width:  max-content; */
  /* height:  max-content; */
}
#d1 {
}
#d2 {
  margin-left: 70px;
}
#d3 {
  margin-left: 60px;
}
.drop-c {
  position: relative;

  visibility: hidden;

  top: -10px;

  left: -95px;

  margin-left: 50px;

  display: inline-grid;
}

nav input:focus {
  border: solid;
  border-width: 2px;
  width: 252px;
  height: 26px;
}
nav #sidebar {
  font-size: 20px;
  position: absolute;
  display: none;
  left: 5px;
}
nav #search {
  position: absolute;
  right: 40px;
  top: -4px;
  width: 30px;
  height: 30px;
  border-radius: 3px 0px 0px 3px;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  background: inherit;
  border-width: px 0px 0px;
}
nav input::placeholder {
  color: initial;
  padding: 9;
}
footer {
  width: 100%;
  background: #ffffff;
  color: #847676; /* border:solid; */
  position: relative; /* border-width:  2px; */
}
.subscription {
  position: relative;

  display: inline;

  left: 10px;

  grid-area: 1/1/1/1;

  border-width: 0px 1.5px 0px 0px;
}
.subscription button {
  background: #009688;
  max-width: 90px;
  padding: 10px;
  height: 49px;
  border: none;
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  /* border:solid; */
  /* border-width:2px; */
  border-radius: 0px 2px 2px 0px;
}

footer {
  padding-top: 200px;
  bottom: 0px;
}
.subscription input {
  border-radius: 0px 0px 0px 0px;
  margin: 0;
  padding: 3px 6px;
  max-width: 300px;
  width: 70%;
  box-sizing: content-box;
}
.word {
  z-index: 0;
  height: 40px;
  border-radius: 3px;
  border-width: 1px 1px 1px 1px;
  position: relative;
  max-width: 100%; /* width:70%; */
}
.subscription h1 {
  position: relative;

  color: inherit;
  display: block;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: self-end;
}
.whole p {
  text-align: center; /* width:100%; */ /* margin: 0px; */
  font-family: sans-serif;
  display: inline-block;
  font-size: 15px;
  color: inherit;
}
.imoti {
  position: relative;
  /* width:  initial; */
  /* height:  initial; */
  /* right:10px; */
  /* bottom: 0px; */
  /* height:100%; */
  /* vertical-align:middle; */
  /* margin-right:4px; */
  /* display: grid; */
  text-align: center;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.phone {
  display: inline;
  /* align-items: self-end; */
}
footer .fab {
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  color: inherit;
  background: inherit;
  border: none;
}
.fa-youtube:hover {
  color: red;
}
.fa-google-plus-g:hover {
  color: #2196f3;
}
.fa-facebook:hover {
  color: #192986;
}
.fa-twitter:hover {
  color: #03a9f4;
}

.navigator {
  /* position: absolute; */ /* width:  30%; */ /* height: 70%; */ /* vertical-align:  middle; */
  margin: 20px;
  margin-bottom: 15px; /* display: grid; */ /* left: 30%; */ /* top: 0px; */
  text-align: center; /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.drop {
  display: inline-grid;
  text-align: center;
}
.whole a {
  color: inherit;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  /* font-size: 17px; */
  /* vertical-align:  middle; */
  margin-left: 40px;
  /* margin-top:  20px; */
  position: relative;
}
.link1 {
  font-size: 17px;
  text-align: center;
  display: inline;
  font-family: "roboto", sans-serif;
}
.contact.us {
  font-weight: 100;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  display: inline-block;
}
h3.mobile {
}
div.relate {
  /* grid-template-columns:  1fr 1fr; */

  position: relative;

  /* width:  30%; */

  text-align: center;

  /* width:  1000px; */

  display: grid;
}
.mobile {
  color: inherit;

  text-decoration: none;

  font-family: sans-serif;

  font-weight: 400;

  margin-left: 0px;

  font-size: 15px;
}
footer .fab {
}
.email {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.whole {
  display: grid;
  position: relative;
  /* margin: 40px; */
  margin-left: 0px;
  width: 100%;
  /* bottom:  10px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.copyright {
  text-align: center;
  width: 100%;
}
@media screen and(max-width:900px) {
  nav input {
    display: none;
  }
}

@media (max-width: 1250px) {
  .whole {
  }
}
@media (max-width: 750px) {
  .buttons {
    display: none;
  }
  nav #sidebar {
    display: inline;
  }
}
@media (max-width: 600px) {
  nav #search {
    bottom: 10px;
    right: 10px;
  }
}
@media (max-width: 440px) {
  .link1 {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .link1 {
    font-size: 14px;
  }
}
@media (max-width: 385px) {
  .link1 {
    font-size: 13px;
  }
}
